html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'VT323', monospace;
  background-color: #0D0D0D;
  color: #E5E5E5;
  margin: 0;
  padding: 0;
}

label {
  display: inline-block;
  margin-right: 8px;
}

canvas {
  display: block;
}

#startOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

#bpmInput, #timeSigNum {
  background: #111;
  color: #41FF00;
  border: 0px solid #555;
  width: 60px;
  font-family: 'VT323', monospace;
  font-size: 1rem;
  text-align: center;
}

.ambient-sound {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin: 5px;
  border: 1px solid #555;
  cursor: pointer;
  user-select: none;
  
  background-color: #222;
  color: #41FF00;
}

.ambient-sound.active {
  background-color: #40ff0041;
  color: #41FF00; 
}

.ambient-sound.inactive {
  background-color: #222;
  color: #666;
}

#ambientControls {
  padding: 10px;
}

canvas {
  display: block;
  margin: 0 auto;
}

#controlsBar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 10px auto;
  padding: 10px;
  /* border: 2px solid #555;  */
  max-width: 600px;
}