html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

#startOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.ambient-sound {
  display: inline-block;
  padding: 10px 15px;
  margin: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
  user-select: none;
}
.ambient-sound.active {
  background-color: #a0e7a0; /* 正在播放时显示绿色 */
}
.ambient-sound.inactive {
  background-color: #e7a0a0; /* 停止时显示红色 */
}